@import '../assets/scss/base/app-base.scss';

.c-nav-search {
    padding: 10px 13px 15px 13px;
    input {
        background-color: $c-color-secondary;
        border: 1px solid $c-color-secondary;
        color: $c-color-gray-deep;
        font-size: 15px;
        &:focus {
            border: 1px solid $c-color-light;
        }
        &::-webkit-input-placeholder {
            color: $c-color-gray-deep !important;
        }
        &:-moz-placeholder {
            color: $c-color-gray-deep !important;
        }
        &::-moz-placeholder {
            color: $c-color-gray-deep !important;
        }
        &:-ms-input-placeholder {
            color: $c-color-gray-deep !important;
        }
    }
    button {
        color: $c-color-gray-deep;
        background-color: $c-color-secondary;
        font-size: 15px;
        border: 1px solid $c-color-secondary;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        &:focus {
            border: 1px solid $c-color-light;
        }

    }
}

.c-nav {
    margin-left: 0px;
    height: -moz-calc(100vh - 265px);
    height: -webkit-calc(100vh - 265px);
    height: calc(100vh - 265px);
    padding-left: 8px;
    padding-right: 5px;
    font-size: 15px;
    .c-search-msg {
        color: $c-color-gray-deep;
        margin-left: 13px;
    }
    .c-sidebar-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        a {
            color: $c-color-gray-deep;
            text-decoration: none;
            border: 0px;
        }
        & > li {
            position: relative;
            margin: 0;
            padding: 0;
            &:hover {
                & >a{
                    color: $c-color-gray-deep;
                    border: 0px;
                }
            }
        }
    }
}
